#home{
    height: 100vh;
    background: linear-gradient(to right, 	#CD7F32, #EADDCA);
    color:antiquewhite;
    padding-top: 50px;
    margin-top: 50px;
    letter-spacing: 1px;    
    text-align: center;
}
#skills{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    background: linear-gradient(to right, 	#CD7F32, #d8aa6486);
}

#projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    background: linear-gradient(to right, 	#b79c81, #8d7046);

}

#about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    background: linear-gradient(to right, 	#b2987e, #cea971);
}

.profile-img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

